# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
ENV/
env/
*.env

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
__pycache__/
media/
staticfiles/
*.pyc

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
*.cover
